<%-include('../includes/header') %>
</head>
<body style="  background: url(/images/white.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
">
<%-include('../includes/nav.ejs') %>
   <div class="container" style="margin-top: 150px;">
    <div class="row m-3">
      <div class="cont col-md-4 offset-md-4 p-3">
        <h2 class="text-center h2 pt-3"><i class="fas fa-lock"></i> Login</h2>
       <form action="/login" method="post">
           <div class="form-group mb-5">
               <label for="exampleInputName">Email</label>
               <input type="email" class="form-control"placeholder="Enter name" name="email">
               <%for(let error of loginErr ){
                 if(error.path === "email"){%>
                   <small style="color:red"><%= error.msg %></small>
                <% }
               }%>
             </div>
             <div class="form-group mb-3">
               <label for="exampleInputPassword1">Password</label>
               <i class="fas fa-eye" id="show"></i>
               <input type="password" class="form-control" placeholder="Password" name="password" id="pwd"> 
               <%for(let error of loginErr ){
                 if(error.path === "password"){%>
                   <small style="color:red"><%= error.msg %></small>
                <% }
               }%>
                    </div>
                    <small style="color:red"><%= logs %></small>
             <div class="text-center my-3">
               <button type="submit" class="btn w-75" id="play">Login</button>
             </div>
       </form>
     </div>
    </div>
 
   </div>
    
  <script>
    let icn = document.getElementById('show')
    let pwd = document.getElementById('pwd')
    icn.addEventListener('click',function(e){
      e.preventDefault()
      if(pwd.getAttribute('type') == "password"){
        pwd.setAttribute('type','text')
      }else{
        pwd.setAttribute('type','password')
      }
    })
</script>
<%-include('../includes/footer') %>
</body>
</html>