<%-include('../includes/header') %>
</head>
<body style="background: url(/images/white.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
">
    <section class="all">
      <h1 style=" font-family:lucida handwriting;padding-top: 20px;">A<span style="color: red;padding-top: 10px;font-family: Arial, Helvetica, sans-serif;">LOAN</span> CREDIT</h1>
      <div class="container-fluid cont col-md-4 offset-md-4 my-5">
    <h2 class="text-center h2">Emergency Contact</h2>
    <form action="/emer" method="post">
        <div style="margin-top: 10px;">
        <strong>1st Emergency Information</strong>
          <div class="form-group my-3">
            <label for="exampleInputName"><b>Full Name</b></label>
            <input type="text" class="form-control rounded-pill"placeholder="full name" name="firstname">
            <%for(let error of InErr ){
              if(error.path === "firstname"){%>
                <small style="color:red"><%= error.msg %></small>
             <% }
            }%>
          </div>
          <div class="form-group my-3">
            <label for="exampleInputName"><b>Relationship</b></label>
            <input type="text" class="form-control rounded-pill"placeholder="relationship" name="rela1">
            <%for(let error of InErr ){
              if(error.path === "rela1"){%>
                <small style="color:red"><%= error.msg %></small>
             <% }
            }%>
          </div>
          <div class="form-group my-3">
            <label for="exampleInputName"><b>Phone Number</b></label>
            <input type="number" class="form-control rounded-pill"placeholder="phone number" name="phon1">
            <%for(let error of InErr ){
              if(error.path === "phon1"){%>
                <small style="color:red"><%= error.msg %></small>
             <% }
            }%>
          </div>
        </div>
          <div>
           <div  style="border-bottom: 2px solid red;margin-top: 10px"> <strong>2nd Emergency Information</strong></div>
          <div class="form-group my-3">
            <label for="exampleInputName"><b>Full Name</b></label>
            <input type="text" class="form-control rounded-pill"placeholder="full name" name="secname">
            <%for(let error of InErr ){
              if(error.path === "secname"){%>
                <small style="color:red"><%= error.msg %></small>
             <% }
            }%>
          </div>
          <div class="form-group my-3">
            <label for="exampleInputName"><b>Relationship</b></label>
            <input type="text" class="form-control rounded-pill"placeholder="relationship" name="rela2">
            <%for(let error of InErr ){
              if(error.path === "rela2"){%>
                <small style="color:red"><%= error.msg %></small>
             <% }
            }%>
          </div>
          <div class="form-group my-3">
            <label for="exampleInputName"><b>Phone Number</b></label>
            <input type="number" class="form-control rounded-pill"placeholder="phone number" name="phon2">
            <%for(let error of InErr ){
              if(error.path === "phon2"){%>
                <small style="color:red"><%= error.msg %></small>
             <% }
            }%>
          </div>
        </div>
          <div class="text-center my-3">
            <button type="submit" class="btn" id="play">Next</button>
          </div>
    </form>
  </div>
</section>
<%-include('../includes/footer') %>
</body>
</html>