<%-include('../includes/header') %>
</head>
<body style="background: url(/images/white.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
">
    <section class="all">
        <h1>A<span style="color: red;padding-top: 10px;font-family: Arial, Helvetica, sans-serif;">LOAN</span> CREDIT</h1>
  <div class="container-fluid cont col-md-4 offset-md-4 my-5">
    <h2 class="text-center h2">Basic Information</h2>
    <form action="/info" method="post" enctype="multipart/form-data">
      <div class="form-group my-3">
        <label for="exampleInputName"><b>First Name</b></label>
        <input type="text" class="form-control rounded-pill"placeholder="First Name" name="fname">
        <%for(let error of InErr ){
          if(error.path === "fname"){%>
            <small style="color:red"><%= error.msg %></small>
         <% }
        }%>

      </div>
      <div class="form-group my-3">
        <label for="exampleInputName"><b>Last Name </b></label>
        <input type="text" class="form-control rounded-pill"placeholder="Last Name" name="lname">
        <%for(let error of InErr ){
          if(error.path === "lname"){%>
            <small style="color:red"><%= error.msg %></small>
         <% }
        }%>

      </div>
      <div class="form-group my-3">
        <label for="exampleInputName"><b>Email </b></label>
        <input type="email" class="form-control rounded-pill"placeholder="Email Address" name="email">
        <%for(let error of InErr ){
          if(error.path === "email"){%>
            <small style="color:red"><%= error.msg %></small>
         <% }
        }%>

      </div>
      <div class="form-group my-3">
        <label for="exampleInputName"><b>Phone Number</b></label>
        <input type="number" class="form-control rounded-pill"placeholder="Phone Number" name="phone">
        <%for(let error of InErr ){
          if(error.path === "phone"){%>
            <small style="color:red"><%= error.msg %></small>
         <% }
        }%>

      </div>
      <div class="form-group  my-3">
        <label for="exampleInputName"> <b>Gender</b> </label><br>
        <input type="radio" value="Male" name="gender">Male 
        <input type="radio" value="Female" name="gender">Female<br>
        <%for(let error of InErr ){
          if(error.path === "gender"){%>
            <small style="color:red"><%= error.msg %></small>
         <% }
        }%>
      </div>
      <div class="form-group my-3">
        <label for="exampleInputName"> <b> DOB</b></label>
        <input type="date" class="form-control rounded-pill"placeholder="date of birth" name="dob">
        <%for(let error of InErr ){
          if(error.path === "dob"){%>
            <small style="color:red"><%= error.msg %></small>
         <% }
        }%>
      </div>
      <div class="form-group my-3">
        <label for=""> <b> BVN</b></label>
        <input type="number" class="form-control rounded-pill" name="BVN">
        <%for(let error of InErr ){
          if(error.path === "BVN"){%>
            <small style="color:red"><%= error.msg %></small>
         <% }
        }%>
      </div>
      <div class="form-group">
        <label for="">File input</label>
            <input type="file" name="Image" class="form-control rounded-pill">
            <%for(let error of InErr ){
              if(error.path === "Image"){%>
                <small style="color:red"><%= error.msg %></small>
             <% }
            }%>
      </div>
     
      <div class="text-center my-3">
        <button type="submit" class="btn" id="play">Next</button>
      </div>
</form>
  </div>
</section>




<%-include('../includes/footer') %>
</body>
</html>