<%-include('../includes/header') %>
</head>
<body style="background: url(/images/white.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
">
    <section class="all">
      <h1 style=" font-family:lucida handwriting;">A<span style="color: red;padding-top: 10px;font-family: Arial, Helvetica, sans-serif;">LOAN</span> CREDIT</h1>
      <div class="container-fluid cont col-md-4 offset-md-4 my-5">
    <h2 class="text-center h2">Personal Information</h2>
    <form action="/sinfo" method="post">
          <div class="form-group my-3" name="marital">
            <label for="exampleInputName"><b>Marital Status</b></label>
           <select class="form-select rounded-pill">
            <option value=""></option>
             <option value="single">Single</option>
             <option value="married">Married</option>
             <option value="widow">Widow</option>
           </select>
           <%for(let error of InErr ){
            if(error.path === "marital"){%>
              <small style="color:red"><%= error.msg %></small>
           <% }
          }%>
          </div>
          <div class="form-group my-3">
            <label for="exampleInputName"><b>Education Level </b></label>
           <select class="form-select rounded-pill" name="educate">
            <option value=""></option>
             <option value="ond">OND</option>
             <option value="hnd">HND</option>
             <option value="bachelor">Bachelors</option>
             <option value="others">others</option>
           </select>
           <%for(let error of InErr ){
            if(error.path === "educate"){%>
              <small style="color:red"><%= error.msg %></small>
           <% }
          }%>
          </div>
          <div class="form-group my-3">
            <label for="exampleInputName"><b>Working Pattern </b></label>
           <select class="form-select rounded-pill" name="pat">
            <option value=""></option>
             <option value="daily">Daily</option>
             <option value="partime">Partime</option>
             <option value="others">others</option>
           </select>
           <%for(let error of InErr ){
            if(error.path === "pat"){%>
              <small style="color:red"><%= error.msg %></small>
           <% }
          }%>
          </div>
          <div class="form-group my-3">
            <label for="exampleInputName"><b>Housing Status </b></label>
           <select class="form-select  rounded-pill" name="houses">
            <option value=""></option>
             <option value="landlord">Landlord</option>
             <option value="tenants">Tenants</option>
             <option value="others">others</option>
           </select>
           <%for(let error of InErr ){
            if(error.path === "houses"){%>
              <small style="color:red"><%= error.msg %></small>
           <% }
          }%>
          </div>
          <div class="form-group my-3">
            <label for="exampleInputName"> <b>Home Address </b></label>
            <input type="text" class="form-control rounded-pill"placeholder="first name" name="add">
            <%for(let error of InErr ){
              if(error.path === "add"){%>
                <small style="color:red"><%= error.msg %></small>
             <% }
            }%>
          </div>
          <div class="text-center my-3">
            <button type="submit" class="btn" id="play">Next</button>
          </div>
    </form>
  </div>
</section>
<%-include('../includes/footer') %>
</body>
</html>